model_version: 2.0
product_va_config:
    name: Flow Automation microservice
    product_name: eric-oss-flow-automation
    version: /${var.build-version}
    va_template_version: 2.0.0
    description: Flow Automation microservice with Bob based CI and release automation pipelines
    images:
        - /${common.helm-chart-name}:/${var.build-version}
